<!-- begin navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-darker" id="primary-nav">
<!-- logo -->   
  <a class="navbar-brand" href="/">
    <img
      class="navbar-logo"
      src="/images/logo_v2_small.svg"
      alt="Frosty CMS Logo"
  /></a>
<!-- toggle button -->  
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <!-- registration and login -->
    <ul class="navbar-nav flex-nowrap ml-auto">
      
      <% if(!currentUser){ %>
      
        <!-- Register -->
        <li class="nav-item">
          <a href="/register" class="btn btn-outline-success mr-2" role="button">Register</a>
          <span class="sr-only">Register</span></a>
        </li>
        
        <!-- Login -->
        <li class="nav-item">
            <a class="nav-link" href="/login">
                Login
            <span class="sr-only">Login</span></a>
        </li>
      
      <% } else { %>
      
      <!-- new post button: not visible if you are a reader -->
      <% if(currentUser.role != "Reader"){ %>
      
        <li class="nav-link">
          <a class="btn btn-outline-success nav-item mr-2" href="/blogs/new" role="button"> +New Post</a>
          <span class="sr-only">+New Pos</span></a>
        </li>
      
      <% } %>
        
        <!-- profile picture dropdown menu for desktop-->
        <li class="nav-item d-none d-md-block">
          <div class="dropdown">
            
            <a class="dropdown-toggle nav-link mr-2" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="<%= currentUser.photo %>" class='navbar-profile-photo' />
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="dropdownMenuButton">
              <% if(currentUser.role != "Reader") {%>
                <a class="dropdown-item" href="/settings/dashboard">Dashboard</a>
              <% } %>  
              <a class="dropdown-item" href="/users/<%= currentUser.id %>/profile">My Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
            
          </div>
        </li>
        
        <!-- mobile only links -->
        <% if(currentUser.role != "Reader") {%>
          <li class="nav-item d-md-none">
            <a href="/settings/dashboard" class="nav-link">Dashboard</a>
          </li> 
        <% } %>
        <li class="nav-item d-md-none">
          <a href="/users/<%= currentUser.id %>/profile" class="nav-link">MyProfile</a>
        </li> 
        <li class="nav-item d-md-none">
          <a href="/logout" class="nav-link">Logout</a>
        </li> 
      
      
      <% } %>
    </ul>
  </div>
</nav>

<!-- flash messages -->
<% if(success != ""){ %>
  <div class='alert-wrapper'>
    <div class="alert alert-success alert-fixed" role="alert">
      <%= success %>
    </div>
  </div> 
<% } %>
<% if(error != ""){ %>
  <div class='alert-wrapper'>
    <div class="alert alert-danger alert-fixed" role="alert">
      <%= error %>
    </div>
  </div> 
<% } %>

