<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>
<!-- contains css grid container start -->
<%- include("partials/settings-bar.ejs") %>
<!-- css grid container for settings content start -->
<%- include("partials/settings-content-grid-start.ejs") %>


<!-- begin content -->
    <!-- fixed width container for content -->
    <div class="container-lg mt-5">
    <h1 class="settings-title">Edit User</h1>
    <h4> Username: <strong><%= user.username %></strong></h4>
    <h4> ID:<%= user._id %></h4>
        <!--input for title, image, content -->
        <form action="/users/<%= user._id %>?_method=PUT" method="POST">
            
            <div class="form-group">
                <label for="username">
                    <h4>First Name</h4>
                </label>
                <input type="text" class="form-control" id="username" name="user[username]" value="<%= user.username %>">
            </div>
            
            <div class="form-group">
                <label for="firstName">
                    <h4>First Name</h4>
                </label>
                <input type="text" class="form-control" id="firstName" name="user[firstname]" value="<%= user.firstname %>">
            </div>
            
            <div class="form-group">
                <label for="lastName">
                    <h4>Last Name</h4>
                </label>
                <input type="text" class="form-control" id="lastName" name="user[lastname]" value="<%= user.lastname %>">
            </div>
            
            <div class="form-group">
                <label for="email">
                    <h4>Email</h4>
                </label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="user[email]" placeholder="<%= user.email %>" >
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>


<!-- css grid container for settings content end -->
<%- include("partials/settings-content-grid-end.ejs") %>
<!-- settings grid container end must go at end of settings content templates! -->  
<%- include("partials/settings-grid-container-end.ejs") %>
<%- include("partials/footer.ejs") %>