<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>


    <div class="container-lg mt-5 mb-5">
      <div class="row justify-content-start">
         
        <!-- The Loop Starts Here -->
        <% blogs.forEach((blog) => { %>
        
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card shadow mt-4" >
            <img
              src="<%= blog.image %>"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h3 class="card-title"><%= blog.title %></h3>
              
              <div class="d-flex flex-row ">
                <div class="p-2">
                  <a href="/users/<%=blog.author.id%>/profile"><img src="<%= blog.author.photo %>" class='navbar-profile-photo' /></a>
                </div>
                <div class="p-2 align-middle">
                  <em><h6 class="card-title index-author"><%= blog.author.firstname + " " + blog.author.lastname %></h6></em>
                </div>
              </div>
              
              <p class="card-text"><%= blog.short %></p>
              <a href="/blogs/<%=blog._id%>" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        
        <% }); %>
        <!-- The Loop Ends Here -->
        
      </div>
    </div>


<%- include("partials/footer.ejs") %>





