<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>
<!-- contains css grid container start -->
<%- include("partials/settings-bar.ejs") %>
<!-- css grid container for settings content start -->
<%- include("partials/settings-content-grid-start.ejs") %>


<!-- begin content -->

<div class="container-flex m-5">     
    <h1 class="settings-title">Blog Posts</h1>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Blog ID</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
        <tbody>
          <!-- The Loop Starts Here -->  
          <% blogs.forEach((blog) => { %>
          <tr>
            
            <td><img 
                src="<%= blog.image %>" 
                alt="..."  
                class="settings-table-image">
            </td>
            
            <td><a href="/blogs/<%=blog._id%>"><%= blog.title %></a></td>
            
            <!-- if user is writer and commenter is reader, hide profile for privacy -->
            <% if(currentUser.role === 'Writer' && blog.author.role === 'Reader'){ %>
            
              <td><%= blog.author.username %></td>
            
            <!-- show profile link if user is blog author, or administrator, editor or writer -->
            <% } else if((currentUser && blog.author.id.equals(currentUser._id)) || (currentUser.role === "Administrator" || currentUser.role === "Editor" || currentUser.role === "Writer")) { %>
            
              <td><a href="/users/<%=blog.author.id%>/profile"><%= blog.author.username %></a></td>
            
            <!-- otherwise do not show profile link -->  
            <% } else { %>
              
              <td><%= blog.author.username %></td>
              
            <% } %>
            
            <td><span class="settings-table-id"><%=blog._id%></span></td>
            
            <!-- Only author, admin or editor can modify content -->
            <% if((currentUser && blog.author.id.equals(currentUser._id)) || (currentUser.role === "Administrator" || currentUser.role === "Editor")){ %>
            <td>
            <a href="/blogs/<%=blog._id%>/edit" class="btn btn-outline-primary">Edit</a>
            </td>
            <td>
              <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-outline-danger">Delete</button>
              </form>
            </td>
            <% } else { %>
            <td></td>
            <td></td>
            <% } %>
          </tr>
          <% }); %>
          <!-- The Loop Ends Here -->
        </tbody>
      </table>
</div>

<!-- css grid container for settings content end -->
<%- include("partials/settings-content-grid-end.ejs") %>
<!-- footer grid start -->
<%- include("partials/settings-footer-grid-start.ejs") %>
<!-- footer contents -->
<%- include("partials/footer.ejs") %>
<!-- footer grid end -->
<%- include("partials/settings-footer-grid-end.ejs") %>

<!-- settings grid container end must go at end of settings content templates! -->  
<%- include("partials/settings-grid-container-end.ejs") %>
