<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>
<!-- contains css grid container start -->
<%- include("partials/settings-bar.ejs") %>
<!-- css grid container for settings content start -->
<%- include("partials/settings-content-grid-start.ejs") %>


<!-- begin content -->
<!-- bootstrap fixed width container for content -->
<div class="container-lg mt-5">     
    <h1 class="settings-title">Blog Posts</h1>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Title</th>
              <th scope="col">ID</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
        <tbody>
          <!-- The Loop Starts Here -->  
          <% for(var i=0; i<blogs.length; i++){ %>
          <tr>
            <td><img 
                src="<%= blogs[i].image %>" 
                alt="..."  
                class="settings-table-image">
            </th>
            <td><%= blogs[i].title %></td>
            <td><span class="settings-table-id"><%=blogs[i]._id%></span></td>
            <td><a href="/settings/blogs/<%=blogs[i]._id%>/edit" class="btn btn-outline-primary">Edit</a></td>
            <td>
              <form action="/blogs/<%= blogs[i]._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
              </form>  
            </td>
          </tr>
          <% } %>
          <!-- The Loop Ends Here -->
        </tbody>
      </table>

</div>

<!-- css grid container for settings content end -->
<%- include("partials/settings-content-grid-end.ejs") %>
<!-- settings grid container end must go at end of settings content templates! -->  
<%- include("partials/settings-grid-container-end.ejs") %>
<%- include("partials/footer.ejs") %>