<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>
<!-- contains css grid container start -->
<%- include("partials/settings-bar.ejs") %>
<!-- css grid container for settings content start -->
<%- include("partials/settings-content-grid-start.ejs") %>

<!-- begin content -->

    
    <!-- BLOGS WIDGET -->
    <div class="container-flex card m-5">    
        <div class="row justify-content-start">
            <div class="col-md-4 settings-widget-left">
                <div class="m-4 text-center">
                    <h3>Blogs</h3>
                    <h1 class="dashboard-widget-number"><%= blogcount %></h1>
                </div>
            </div>
            <div class="col-md-8 settings-widget-right">
                <div class="m-4">
                    <h3>Recent</h3>
                    <table>
                        <!--start loop-->
                        
                        <% for(let i = blogs.length-1; i>blogs.length-4; i--) { %>
                            <tr>
                                <td><a href="/blogs/<%= blogs[i].id %>"><img src="<%= blogs[i].image %>" class="dashboard-blog-image mr-3"></a></td>
                                <td><%= blogs[i].title %></td>
                            </tr>  
                        <% } %>
                        
                        <!--end loop-->
                    </table>    
                </div>    
            </div>
        </div>
    </div>
    
    <!-- USERS WIDGET -->
    <div class="container-flex card m-5">    
        <div class="row justify-content-start">
            <div class="col-md-4 settings-widget-left">
                <div class="m-4 text-center">
                    <h3>Users</h3>
                    <h1 class="dashboard-widget-number"><%= usercount %></h1>
                </div>
            </div>
            <div class="col-md-8 settings-widget-right">
                <div class="m-4">
                    <h3>Roles</h3>
                    <table>
                        <tr>
                            <td><h3 class="mr-3"><%= admincount %></h3></td>
                            <td>Administrators</td>
                        </tr>
                        <tr>
                            <td><h3 class="mr-3"><%= editorcount %></h3></td>
                            <td>Editors</td>
                        </tr>
                        <tr>
                            <td><h3 class="mr-3"><%= writercount %></h3></td>
                            <td>Writers</td>
                        </tr>
                        <tr>
                            <td><h3 class="mr-3"><%= readercount %></h3></td>
                            <td>Readers</td>
                        </tr>
                    </table>    
                </div>    
            </div>
        </div>
    </div>
    
    <!-- BLOGS WIDGET -->
    <div class="container-flex card m-5">    
        <div class="row justify-content-start">
            <div class="col-md-4 settings-widget-left">
                <div class="m-4 text-center">
                    <h3>Comments</h3>
                    <h1 class="dashboard-widget-number"><%= commentcount %></h1>
                </div>
            </div>
            <div class="col-md-8 settings-widget-right">
                <div class="m-4">
                    <h3>Recent</h3>
                    <table class="table">
                        <!--start loop-->
                        
                        <% for(let i = comments.length-1; i>comments.length-4; i--) { %>
                            <tr>
                                <td><%= comments[i].content %> 
                                <strong> -<a href="/users/<%= comments[i].author.id %>/profile"><%= comments[i].author.username %></strong></a></td>
                            </tr>  
                        <% } %>
                        
                        <!--end loop-->
                    </table>    
                </div>    
            </div>
        </div>
    </div>

<!-- css grid container for settings content end -->
<%- include("partials/settings-content-grid-end.ejs") %>
<!-- footer grid start -->
<%- include("partials/settings-footer-grid-start.ejs") %>
<!-- footer contents -->
<%- include("partials/footer.ejs") %>
<!-- footer grid end -->
<%- include("partials/settings-footer-grid-end.ejs") %>
<!-- settings grid container end must go at end of settings content templates! -->  
<%- include("partials/settings-grid-container-end.ejs") %>
<%- include("partials/bootstrap.ejs") %>
