<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>
<!-- contains css grid container start -->
<% if(currentUser.role != "Reader"){ %>
    <%- include("partials/settings-bar.ejs") %>
    <!-- css grid container for settings content start -->
    <%- include("partials/settings-content-grid-start.ejs") %>
<% } %>


<!-- begin content -->
<!-- bootstrap fixed width container for content -->
<div class="container-flex m-5">     
    <h1 class="settings-title">Users</h1>
    <table class="table">
        <thead>
            <tr>
              <th></th>
              <th scope="col">Username</th>
              <th scope="col">Role</th>
              <th scope="col">First Name</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
        <tbody>
          <!-- The Loop Starts Here -->  
          <% users.forEach((user) => { %>
            <tr>
              
              <!-- PROFILE ICON  -->
              <!-- if user is writer and commenter is reader, no link to profile for privacy -->
              <% if(currentUser.role === 'Writer' && user.role === 'Reader'){ %>
              
                <td><img src="<%= user.photo %>" class='navbar-profile-photo' /></td>
              
              <!-- show profile link if user is blog author, or administrator, editor or writer -->
              <% } else if((currentUser && user.id === currentUser._id) || (currentUser.role === "Administrator" || currentUser.role === "Editor" || currentUser.role === "Writer")) { %>
              
                <td><a href="/users/<%=user.id%>/profile"><img src="<%= user.photo %>" class='navbar-profile-photo' /></a></td>
              
              <!-- otherwise do not show profile link -->  
              <% } else { %>
                
                <td><img src="<%= user.photo %>" class='navbar-profile-photo' /></td>
                
              <% } %>
      
              <!-- USERNAME  -->
              <!-- if user is writer and commenter is reader, hide profile for privacy -->
              <% if(currentUser.role === 'Writer' && user.role === 'Reader'){ %>
              
                <td><%= user.username %></td>
              
              <!-- show profile link if user is blog author, or administrator, editor or writer -->
              <% } else if((currentUser && user.id === currentUser._id) || (currentUser.role === "Administrator" || currentUser.role === "Editor" || currentUser.role === "Writer")) { %>
              
                <td><a href="/users/<%=user.id%>/profile"><%= user.username %></a></td>
              
              <!-- otherwise do not show profile link -->  
              <% } else { %>
                
                <td><%= user.username %></td>
                
              <% } %>
  
              <td><%= user.role %></td>
              <td><%= user.firstname %></td>
              
              <!-- PROFILE BUTTON  -->
              <!-- if user is writer and commenter is reader, hide profile button for privacy -->
              <% if(currentUser.role === 'Writer' && user.role === 'Reader'){ %>
              
                <td></td>
              
              <!-- show profile link if user is blog author, or administrator, editor or writer -->
              <% } else if((currentUser && user.id === currentUser._id) || (currentUser.role === "Administrator" || currentUser.role === "Editor" || currentUser.role === "Writer")) { %>
              
                <td>
                  <a href="/users/<%=user._id%>/profile" class="btn btn-outline-primary">Profile</a>
                </td>
              
              <!-- otherwise do not show profile link -->  
              <% } else { %>
                
                <td></td>
                
              <% } %>
              
              <!-- DELETE BUTTON  -->
              <!-- Remove Delete Button if profile is Administrator, and also if user is Editor and profile is Editor -->
              <% if((user.role === "Administrator")||(currentUser.role === "Editor" && user.role === "Editor")){ %>
              
                <td>
                </td>
                
              <% } else { %>
              
                <td>
                  <form action="/users/<%= user._id %>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-outline-danger">Delete</button>
                  </form>
                </td>
                
              <% } %>
              
            </tr>
          <!-- The Loop Ends Here -->
          <% }); %>
        </tbody>
      </table>
</div>

<!-- css grid container for settings content end -->
<%- include("partials/settings-content-grid-end.ejs") %>
<!-- footer grid start -->
<%- include("partials/settings-footer-grid-start.ejs") %>
<!-- footer contents -->
<%- include("partials/footer.ejs") %>
<!-- footer grid end -->
<%- include("partials/settings-footer-grid-end.ejs") %>
<!-- settings grid container end must go at end of settings content templates! -->  
<%- include("partials/settings-grid-container-end.ejs") %>
<%- include("partials/bootstrap.ejs") %>
