<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>
<!-- contains css grid container start -->
<% if(currentUser.role != "Reader"){ %>
    <%- include("partials/settings-bar.ejs") %>
    <!-- css grid container for settings content start -->
    <%- include("partials/settings-content-grid-start.ejs") %>
<% } %>


<!-- begin content -->
<!-- bootstrap fixed width container for content -->
<div class="container-lg mt-5">     
    <h1 class="settings-title">Comments</h1>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">User</th>
              <th scope="col">Post</th>
              <th scope="col">Comment</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
        <tbody>
          <!-- The Comment Loop Starts Here -->
          <% comments.forEach((comment) => { %>
            
            
            <tr>
                <td><a href="/users/<%= comment.author.id %>/profile"><%= comment.author.username %></a></td>
                <td><a href="/blogs/<%=comment.blogTitle %>"><%=comment.blogTitle %></td>
                <td><%= comment.content %></td>
                
                <!-- Only author, admin or editor can modify content -->
                <% if((currentUser && comment.author.id.equals(currentUser._id)) || (currentUser.role === "Administrator" || currentUser.role === "Editor")){ %>
                
                <td>
                <a class="btn btn-outline-primary" href="/blogs/<%= comment.blogID %>/comments/<%= comment._id %>/edit">Edit</a>
                </td>
                <td>
                  <form action="/blogs/<%= comment.blogID %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-outline-danger">Delete</button>
                  </form>
                </td>
                
                <% } else { %>
                
                <td></td>
                <td></td>
            
                <% } %>
            
           
          <!-- The Comment Loop Ends Here -->
          <% }); %>
          
          
          
           <!-- The Loop Ends Here -->
          
        </tbody>
      </table>
</div>

<!-- css grid container for settings content end -->
<%- include("partials/settings-content-grid-end.ejs") %>
<!-- settings grid container end must go at end of settings content templates! -->  
<%- include("partials/settings-grid-container-end.ejs") %>
<%- include("partials/footer.ejs") %>