<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>
<!-- contains css grid container start -->
<%- include("partials/settings-bar.ejs") %>
<!-- css grid container for settings content start -->
<%- include("partials/settings-content-grid-start.ejs") %>

<!-- begin content -->

    
    <!-- bootstrap fixed width container for content -->
    <div class="container-flex card m-5">    
        <div class="row justify-content-start">
            <div class="col-auto settings-widget-left">
                <div class="m-4 text-center">
                    <h3>Blogs</h3>
                    <h1 class="dashboard-widget-number"><%= blogcount %></h1>
                </div>
            </div>
            <div class="col settings-widget-right">
                <div class="m-4">
                    <h3>Recent</h3>
                    <table>
                        <!--start loop-->
                        
                        <% for(let i = blogs.length-1; i>blogs.length-4; i--) { %>
                            <tr>
                                <td><a href="/blogs/<%= blogs[i].id %>"><img src="<%= blogs[i].image %>" class="dashboard-blog-image"></a></tr>
                                <td><%= blogs[i].title %></tr>
                            </tr>  
                        <% } %>
                        
                        <!--end loop-->
                    </table>    
                </div>    
            </div>
        </div>
    </div>
    
    <div class="container-flex m-5">    
        <div class="card">
            Users
        </div>
    </div>
    
    <div class="container-flex m-5">    
        <div class="card">
            comments
        </div>
    </div>

<!-- css grid container for settings content end -->
<%- include("partials/settings-content-grid-end.ejs") %>
<!-- settings grid container end must go at end of settings content templates! -->  
<%- include("partials/settings-grid-container-end.ejs") %>
<%- include("partials/footer.ejs") %>