<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>
<!-- contains css grid container start -->
<%- include("partials/settings-bar.ejs") %>
<!-- css grid container for settings content start -->
<%- include("partials/settings-content-grid-start.ejs") %>


<!-- begin content -->
    <!-- bootstrap fixed width container for content -->
<div class="container-lg mt-5">     
    <div class="col-6 settings-content">

        <h1>Blog Settings will go here</h1>
    </div>
</div>

<!-- css grid container for settings content end -->
<%- include("partials/settings-content-grid-end.ejs") %>
<!-- settings grid container end must go at end of settings content templates! -->  
<%- include("partials/settings-grid-container-end.ejs") %>
<%- include("partials/footer.ejs") %>