<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>



<!-- fixed width container for content -->
<div class="container-lg mt-5">
<!-- Content Section -->

    <!--Header Image -->
    <img src="<%= blog.image %>" class="img-fluid" >
    <!--Title & Author -->
    <h1 class="mt-4"><%= blog.title %></h1>
    <h6><strong><%= blog.author.firstname + " " + blog.author.lastname %></strong></h6>
    <h6><em class="text-muted"><%= moment(blog.date).fromNow() %></em></h6>

    <!--Content - EJS set to run as code to render HTML -->
    <p class="font-weight-normal mt-5"><%- blog.content %></p>

<%- include("partials/comments.ejs") %>
</div>

<%- include("partials/footer.ejs") %>