<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>
<!-- contains css grid container start -->
<% if(currentUser.role != "Reader"){ %>
    <%- include("partials/settings-bar.ejs") %>
    <!-- css grid container for settings content start -->
    <%- include("partials/settings-content-grid-start.ejs") %>
<% } %>


<!-- begin content -->
    <!-- fixed width container for content -->
    <div class="container-lg mt-5">
    <h1 class="settings-title">User Profile: <%= user.username %></h1>
    <h4> Role: <strong><%= user.role %></strong></h4>
    <p class="text-muted"> ID: <%= user._id %></p>
        <!--input for title, image, content -->
        <form action="/users/<%= user._id %>?_method=PUT" method="POST">
            
            <!--username -->
            <div class="form-group">
                <label for="username">
                    <h4>Username</h4>
                </label>
                <input type="text" class="form-control" id="username" name="user[username]" value="<%= user.username %>">
            </div>
            
            <!--user role -->
            <!-- selection disabled for Readers & Writers -->
            <% if(currentUser.role === "Administrator" || currentUser.role === "Editor"){ %>
            <div class="form-group">
                <label for="role-select">
                    <h4>Role</h4>
                </label>
                    <!-- cannot change user role if user is the last administrator -->
                    <% if(admindanger === true){ %>
                        <div class="alert alert-info" role="alert">
                            You cannot remove the last Administrator.
                        </div>
                        <select class="form-control" name="user[role]" id="role-select" value="<%= user.role %>" disabled>
                    <% } else { %>    
                        <select class="form-control" name="user[role]" id="role-select" value="<%= user.role %>">
                    <% } %>
                    
                            <option value="<%= user.role %>"><%= user.role %></options>
                            <option value="Reader">Reader</option>
                            <option value="Writer">Writer</option>
                            <option value="Editor">Editor</option>
                            
                            <!--only admin can make other admin -->
                            <% if(currentUser.role != "Administrator"){ %>
                                <option value="Administrator" disabled>Administrator</option> 
                            <% } else { %>
                                <option value="Administrator">Administrator</option>
                            <% } %>
                            
                        </select>    
            </div>
            <% } %>
            
            
            <!--first name -->
            <div class="form-group">
                <label for="firstName">
                    <h4>First Name</h4>
                </label>
                <input type="text" class="form-control" id="firstName" name="user[firstname]" value="<%= user.firstname %>">
            </div>
            
            <!--last name -->
            <div class="form-group">
                <label for="lastName">
                    <h4>Last Name</h4>
                </label>
                <input type="text" class="form-control" id="lastName" name="user[lastname]" value="<%= user.lastname %>">
            </div>
            
            <!--email -->
            <div class="form-group">
                <label for="email">
                    <h4>Email</h4>
                </label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="user[email]" value="<%= user.email %>" >
            </div>
            
            <!--submit -->
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>


<!-- css grid container for settings content end -->
<% if(currentUser.role != "Reader"){ %>
    <%- include("partials/settings-content-grid-end.ejs") %>
    <!-- settings grid container end must go at end of settings content templates! -->  
    <%- include("partials/settings-grid-container-end.ejs") %>
<% } %>
<%- include("partials/footer.ejs") %>